<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
  </head>
  <body>
    <a href="/admin_kontaktdaten">Kontaktdaten</a><br />
    <a href="/admin_bestellungen">Bestellungen</a><br />
    <a href="/admin_pizzen">Pizzen</a><br />
    <a href="/admin_drinks">Drinks</a><br /><br />
    <p><%= message %></p>
  </body>
</html>
