<div class="bestellinformationen_container" id="bestellinformationen_container">
  <div class="bestellinformationen" id="bestellinformationen">
    <h1>Bestellinformationen</h1>
    <i class="material-icons" id="bestellinformationen_close">close</i>
  </div>
</div>
