<% for(var i = 0; i < pizzen.length; i++){ %>
<div class="pizzen_container" id="pizzen_container">
  <div class="pizzen" id="pizzen">
    <img src="images/items/pizzen/pizza_<%= pizzen[i].id %>.png" width="40%" />
    <div class="item-info">
      <h1 class="pizzen_name"><%= pizzen[i].name %></h1>
      <p class="pizzen_zutaten"><%= pizzen[i].ingredients %></p>
      <p class="pizzen_preis"><%= pizzen[i].price %>€</p>
    </div>
    <style>
      .pizzen{
        position: relative;
        width: 50%;
        padding: 3%;
      }
      
      .pizzen img{
        display: inline-flex;
        margin-right: 10%;
      }
      
      .item-info{
        margin-right: 10%;
        display: inline-block;
        transform: translateY(-40px);
      }

      .item-info h1{
        display: block;
        font-size: 60px;
      }

      .item-info p{
        display: inline-block;
        color: white;
        background-color: #ff8000;
        border-radius: 10px;
        font-size: 30px;
      }

      #product_add{
        transform: scale(2);
        margin: 0px 20px;
      }
      #pizzen_close{
        position: absolute;
        top: 0;
        right: 0;
        transform: scale(1.3);
        margin: 15px;
      }
    </style>
    <i class="material-icons" id="product_add">add</i>
    <i class="material-icons" id="pizzen_close">close</i>
  </div>
</div>
<% } %>
