<% for(var i = 0; i < drinks.length; i++){ %>
<div class="drinks_container" id="drinks_container">
  <div class="drinks" id="drinks">
    <img src="images/items/drinks/drink_<%= drinks[i].id %>.png" width="40%" />
    <div class="item-info">
      <h1 class="drinks_name"><%= drinks[i].name %></h1>
      <p class="drinks_preis"><%= drinks[i].price %>€</p>
    </div>
    <style>
      .drinks{
        position: relative;
        width: 50%;
        padding: 3%;
      }
      
      .drinks img{
        display: inline-flex;
        margin-right: 10%;
      }
      
      .item-info{
        margin-right: 10%;
        display: inline-block;
        transform: translateY(-40px);
      }

      .item-info h1{
        display: block;
        font-size: 60px;
      }

      .item-info p{
        color: white;
        background-color: #ff8000;
        border-radius: 10px;
        font-size: 30px;
      }

      #product_add{
        transform: scale(2);
        margin: 0px 20px;
      }
    </style>
    <br>
    <i class="material-icons" id="product_add">add</i>
    <i class="material-icons" id="drinks_close">close</i>
  </div>
</div>
<% } %>
