<div class="kasse_container" id="kasse_container">
  <div class="kasse" id="kasse">
    <h1>Kasse</h1>
    <div class="kasse_products_container">
      <div class="kasse_products_header">
        <h5 class="kasse_products_title">PRODUKT</h5>
        <h5 class="kasse_quantity">QUANTITY</h5>
        <h5 class="kasse_total">TOTAL</h5>
      </div>
      <div class="kasse_products">
        <h3>Waren</h3>
      </div>
    </div>
    <div class="kasse_adresse_container">
      <div class="kasse_adresse">
        <h3>Lieferadresse</h3>
      </div>
    </div>
    <div class="kasse_lieferzeit_container">
      <div class="kasse_lieferzeit">
        <h3>Lieferzeit</h3>
      </div>
    </div>
    <div class="kasse_zahlungsart_container">
      <div class="kasse_zahlungsart">
        <h3>Nur Barzahlung :(</h3>
      </div>
    </div>
    <i class="material-icons" id="kasse_close">close</i>
  </div>
</div>
