<div class="mein_account_container" id="mein_account_container">
  <div class="mein_account" id="mein_account">
    <% if(session){ %>
    <h1>MeinAccount</h1>
    <button class="meine_bestellungen_open" id="meine_bestellungen_open">
      Meine Bestellungen</button
    ><br /><br />
    <form action="/accountdetails" class="button" method="post">
      <button>Accountdetails</button>
    </form>
    <br />
    <form action="/logout" class="button" method="post">
      <button class="logout" value="logout">Ausloggen</button>
    </form>
    <br />
    <% } else { %>
    <h1>Login</h1>
    <form action="/login" class="login_button" id="login_button" method="post">
      <label for="login_email">Email:</label><br />
      <input type="text" name="login_email" id="login_email" /><br />
      <label for="login_password">Passwort:</label><br />
      <input
        type="password"
        name="login_password"
        id="login_password"
      /><br /><br />
      <input type="submit" value="Login" />
    </form>
    <p>
      Noch nicht Registriert?<br />
      <button class="register_open" id="register_open">
        Jetzt Registrieren!
      </button>
    </p>
    <% } %>
    <i class="material-icons" id="mein_account_close">close</i>
  </div>
</div>
