<div class="register_container" id="register_container">
  <div class="register" id="register">
    <h1>Registrierung</h1>
    <form action="/user_register" id="register_button" method="post">
      <label for="register_email">E-Mail</label><br />
      <input type="email" name="register_email" id="register_email" /><br />
      <label for="register_firstname">Vorname</label><br />
      <input
        type="text"
        name="register_firstname"
        id="register_firstname"
      /><br />
      <label for="register_lastname">Nachname</label><br />
      <input
        type="text"
        name="register_lastname"
        id="register_lastname"
      /><br />
      <label for="register_adress">Straße, Hausnummer</label><br />
      <input type="text" name="register_adress" id="register_adress" /><br />
      <label for="register_postcode">PLZ, Stadt</label><br />
      <input
        type="text"
        name="register_postcode"
        id="register_postcode"
      /><br />
      <label for="register_password">Passwort</label><br />
      <input
        type="password"
        name="register_password"
        id="register_password"
      /><br />
      <label for="register_password_repeat">Passwort wiederholen</label><br />
      <input
        type="password"
        name="register_password_repeat"
        id="register_password_repeat"
      /><br /><br />
      <input type="submit" value="Registrieren" />
    </form>
    <br />
    <i class="material-icons" id="register_close">close</i>
  </div>
</div>
