<div class="warenkorb_container" id="warenkorb_container">
  <div class="warenkorb" id="warenkorb">
    <h1>Warenkorb</h1>
    <div class="product_container">
      <div class="product_header">
        <h5 class="product_title">PRODUKT</h5>
        <h5 class="price">PREIS</h5>
        <h5 class="quantity">QUANTITY</h5>
        <h5 class="total">TOTAL</h5>
      </div>
      <div class="products"></div>
    </div>
    <br />
    <button class="kasse_open" id="kasse_open">Zur Kasse</button>
    <i class="material-icons" id="warenkorb_close">close</i>
  </div>
</div>
