<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/accountdetails_style.css"
    />
    <title>Accountdetails</title>
  </head>
  <body>
    <form action="/neuerBenutzer" class="button" method="post">
      <p>Persönliche Daten</p>
      <label for="email">E-Mail Adresse:</label><br />
      <input type="text" id="email" name="email" required /><br />
      <label for="firstname">Vorname:</label><br />
      <input type="text" id="firstname" name="firstname" required /><br />
      <label for="lastname">Nachname:</label><br />
      <input type="text" id="lastname" name="lastname" required /><br />
      <p>Adresse</p>
      <label for="adress">Straße + Hausnummer:</label><br />
      <input type="text" id="adress" name="adress" required /><br />
      <label for="postcode">PLZ, Stadt</label><br />
      <input type="text" id="postcode" name="postcode" required /><br />

      <p>Passwort</p>
      <label for="password">Neues Passwort:</label><br />
      <input type="text" id="password" name="password" /><br />
      <label for="passwordRepeat">Wiederholen:</label><br />
      <input
        type="text"
        id="passwordRepeat"
        name="passwordRepeat"
      /><br /><br />
      <input type="submit" value="Passwort ändern" />
    </form>
  </body>
</html>
