<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
  </head>
  <body>
    <a href="/kontaktdaten_table">Kontaktdaten</a><br />
    <a href="/pizzen_table">Pizzen</a><br />
    <a href="/drinks_table">Drinks</a><br /><br />
    <form action="/delete" class="delete" id="delete" method="post">
      <label for="delete_email">Email:</label><br />
      <input type="email" class="delete_email" id="delete_email" /><br />
      <label for="delete_password">Passwort:</label><br />
      <input
        type="password"
        class="delete_password"
        id="delete_password"
      /><br /><br />
      <input type="submit" value="Delete" />
    </form>
    <p><%= message %></p>
  </body>
</html>
