<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/general_style.css" />
    <link rel="stylesheet" type="text/css" href="css/modals.css" />
    <link rel="stylesheet" type="text/css" href="css/warenkorb.css" />
    <link rel="stylesheet" type="text/css" href="css/images.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Website Layout</title>
</head>
<body>
    <header>
        <svg class = "header-bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill=#ff8000 fill-opacity="1" d="M0,160L60,144C120,128,240,96,360,112C480,128,600,192,720,202.7C840,213,960,171,1080,165.3C1200,160,1320,192,1380,208L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
        <div class = "header-logo">
            <a href="/startseite">Pizzajando</a>
        </div>
        <div class = "header-nav">
            <ul>
                <li>
                    <div class="cart">
                    <i class="material-icons" id="warenkorb_open">shopping_cart</i>
                    <div><span class="cart_items">0</span></div>
                  </div>
                </li>
                <li>
                    
                </li>
            </ul>
            
        </div>
        
    </header>
    
</body>
</html>