<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="styles/style.css">
    </head>
    <body>
        <h1>Leider ist ein Fehler aufgetreten!<br>
            <%= fehlertext%>
        </h1>
        <p>
            <a href="loginform">Zurück</a>
        </p>
    </body>
</html>