<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="styles/style.css">
    </head>
    <body>
        <form action="/login" class="button" method="post">
            <label for="username">Benutzername:</label><br>
            <input type="text" id="username" name="username" value="" required><br>
            <label for="password">Passwort:</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
            <input type="submit" value="Login">
            <input type="reset">
        </form>
        <p>Noch nicht Registriert?<br>
            <a href="register">Jetzt Registrieren!</a>
        </p>
        <p><% fehlertext%></p>
    </body>
</html>