<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="styles/style.css">
    </head>
    <body>
        <h1><%= text%> <%= benutzer.username%>!</h1>
        <p>
            <a href="/startseite.html">Zurück zur Startseite.</a>
        </p>
    </body>
</html>