<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="styles/style.css">
    </head>
    <body>
        <form action="/neuerBenutzer" class="button" method="post">
            <label for="username">Benutzername:</label><br>
            <input type="text" id="username" name="username" value="" required><br>
            <label for="firstname">Vorname:</label><br>
            <input type="text" id="firstname" name="firstname" value="" required><br>
            <label for="lastname">Nachname:</label><br>
            <input type="text" id="lastname" name="lastname" value="" required><br>
            <label for="email">E-Mail Adresse:</label><br>
            <input type="text" id="email" name="email" value="" required><br>
            <label for="password">Passwort:</label><br>
            <input type="password" id="password" name="password" value="" required><br><br>
            <input type="submit" value="Registrieren">
            <input type="reset">
        </form>
        <p><% fehlertext%></p>
    </body>
</html>