<!DOCTYPE html>
<html>
  <head>
    <title>Speisekarte</title>
    <link rel="stylesheet" type="text/css" href="css/speisekarte_style.css" />
  </head>
  <body>
    <h1>Pizzen</h1>
    <% for(var i = 0; i < pizzen.length; i++){ %>
    <button class="pizzen_open" id="pizzen_open"><%= pizzen[i].name %></button>
    <% } %> <% for(var i = 0; i < pizzen.length; i++){ %>
    <div class="pizzen_container" id="pizzen_container">
      <div class="pizzen" id="pizzen">
        <h1><%= pizzen[i].name %></h1>
        <button class="pizzen_close" id="pizzen_close">Close</button>
      </div>
    </div>
    <% } %>
    <h1>Getränke</h1>
    <% for(var i = 0; i < drinks.length; i++){ %>
    <button class="drinks_open"><%= drinks[i].name %></button>
    <% } %> <% for(var i = 0; i < drinks.length; i++){ %>
    <div class="drinks_container" id="drinks_container">
      <div class="drinks" id="drinks">
        <h1><%= drinks[i].name %></h1>
        <button class="drinks_close" id="drinks_close">Close</button>
      </div>
    </div>
    <% } %>
    <script src="javascript/speisekarte_modals.js"></script>
  </body>
</html>
