<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="styles/style.css">
    </head>
    <body>
        <h1>Pizzajando.de</h1>
        <h2>
            Willkommen bei Pizzajando! <br>
            Wir haben lecker Pizza für Sie! <br>
        </h2>
        <p>
            <a href="/loginform">Login</a>
            <a> oder </a>
            <a href="/register">Registrieren</a><br>
            <img src="images/pizza.jpg" alt="Pizza">
        </p>
    </body>
</html>