main h1 {
  margin-top: 10%;
  font-size: 50px;
  text-align: center;
}
main form{
    text-align: center;
    margin: 2% 30px;
}

main form p{
    font-size: 30px;
}

main input[value=Löschen]{
    color: #ff2e2e;
    border: #ff2e2e solid 2px;
  }

  main input[value=Löschen]:hover{
    color: #7e3030;
    border: #7e3030 solid 2px;
  }

  .kontaktinformationen, .pw-change, .account-delete{
      display: inline-block;
      position: relative;
      vertical-align: top;
      align-items: center;
  }

  main{
    text-align: center;
  }

  
  
