form{
    text-align: center;
    margin-left: 4%;
}

form p{
    font-size: 30px;
}

form input[type=submit]{
    font-size: 20px;
    padding: 10px 18px;
}

input[value=Löschen]{
    color: #ff2e2e;
    border: #ff2e2e solid 2px;
  }

  input[value=Löschen]:hover{
    color: #7e3030;
    border: #7e3030 solid 2px;
  }

  .kontaktinformationen, .pw-change, .account-delete{
      display: inline-block;
      position: relative;
  }

  .kontaktinformationen{
      margin-left: 20%;
  }

  .pw-change, .account-delete{
    vertical-align: top;
  }

  .account-delete{
    margin-right: 20%;
  }
  
  
