/* Kasse Styles */
.kasse_products_container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.kasse_products_header {
  width: 100%;
  border-bottom: 4px solid lightgrey;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

/* Produkte im Kasse */
.kasse_products_title {
  width: 40%;
  display: flex;
  align-items: center;
}

.kasse_products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.kasse_product {
  width: 40%;
  display: flex;
  align-items: center;
}

.kasse_quantity {
  width: 35%;
  display: flex;
  align-items: center;
}

.kasse_total {
  width: 15%;
  display: flex;
  align-items: center;
}

/* Kasse Total */
.basket_total_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basket_total_title {
  width: 30%;
}

.basket_total {
  width: 10%;
}
