/* Allgemein Modal Container */
body{
  z-index: 3;
  font-family: Roboto;
}

.warenkorb_container,
.mein_account_container,
.register_container,
.meine_bestellungen_container,
.kasse_container,
.pizzen_container,
.drinks_container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.warenkorb_container.show,
.mein_account_container.show,
.register_container.show,
.meine_bestellungen_container.show,
.kasse_container.show,
.pizzen_container.show,
.drinks_container.show {
  pointer-events: auto;
  opacity: 1;
  z-index: 3;
}

/* Warenkorb Modal */
.warenkorb, .meine_bestellungen, .kasse, .pizzen, .drinks{
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  max-width: 600px;
  min-width: 600px;
  text-align: center;
}

.mein_account, .register{
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  max-width: 80%;
  min-width: 20%;
  text-align: center;
}



button, input[type=submit]{
  font-size: 22px;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 1%;
  border-radius: 15px;
  border: rgb(78, 78, 78) solid 2px;
  background-color: white;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  margin-top: 15px;
}

input[type=text], input[type=password], input[type=email]{
  padding: 5px;
  margin: 5px;
  border: 2px solid #1c1c1c;
  border-radius: 15px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
  background-color: #f0f0f0;
  border-color: #ff8000;
}

button:hover, input[type=submit]:hover{
  color: #ff8000;
  border: #ff8000 solid 2px;
  transition: 0.3s;
}

button.register_open{
  font-size: 12px;
}

button.logout{
  color: #ff2e2e;
  border: #ff2e2e solid 2px;
}
button.logout:hover{
  color: #7e3030;
  border: #7e3030 solid 2px;
}

#drinks_close, #pizzen_close, #warenkorb_close, #kasse_close, #mein_account_close, #register_close, #meine_bestellungen_close{
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1.3);
  margin: 15px;
}

h1{
  font-weight: 400;
  font-size: 40px;
}

hr{
  position: relative;
  width: 75%;
  border: 1px solid #000000;
  border-radius: 15px;
}
