/* Warenkorb Styles */
.products_container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.product_header {
  width: 100%;
  border-bottom: 4px solid lightgrey;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

/* Produkte im Warenkorb */
.product_title {
  width: 45%;
  display: flex;
  align-items: center;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 45%;
  display: flex;
  align-items: center;
}

.product button {
  border: none;
  text-align: center;
  float: left;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  display: flex;
  align-items: center;
}

/* Warenkorb Total */
.basket_total_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basket_total_title {
  width: 30%;
}

.basket_total {
  width: 10%;
}
